<img src="assets/images/wer.jpg" alt="wer" width="167" height="134" style="align-self: center" />

<div>

  <strong>Who am I</strong>

  <blockquote>
    Hi, my name is Dave, people know me as WebDave. I am an Angular consultant who offers support for your Angular applications
    and projects. I am also part of the AngularJS.DE team. We adapt Angular to your teams needs to find the perfect fit,
    and get the most out of Angular’s platform. For individual developers or small groups we offer monthly workshops in Berlin,
    Munich, Hamburg and Essen. For larger teams, we highly recommend in-house training.
  </blockquote>




  <blockquote>
    Here I blog tutorials on current frontend topics and everything that helps me with my work. My blogs are written in english
    or german, depends on mood
  </blockquote>

</div>