<mat-expansion-panel [expanded]="expanded" (opened)="reportOpened()" hideToggle>
  <mat-expansion-panel-header>
    <mat-panel-title>
      {{ workshop.title }}
    </mat-panel-title>
  </mat-expansion-panel-header>
  <mat-list>
    <h3 mat-header>{{ workshop.targetgroup }}</h3>
    <h3 mat-subheader>Topics</h3>
    <mat-list-item *ngFor="let topic of workshop.topics">
      <h4 mat-line>{{ topic }}</h4>
    </mat-list-item>
  </mat-list>
  <mat-action-row>
    <button
      mat-button
      color="primary"
      *ngIf="index !== 0"
      (click)="doNavigate('previous')"
    >
      Previous
    </button>
    <button
      mat-button
      color="primary"
      *ngIf="!last"
      (click)="doNavigate('next')"
    >
      Next
    </button>
  </mat-action-row>
</mat-expansion-panel>
