<div class="menu">
  <div class="buttons close"></div>
  <div class="buttons minimize"></div>
  <div class="buttons zoom"></div>
  <span>@webdave_de</span>
</div>
<div class="screen">
  <ng-container
    *ngFor="let text of lines | slice : 0 : optionsOffset; let i = index"
  >
    <p [class.headline]="i === 0" [class.line]="i != 0">
      {{ text }}
      <span *ngIf="line === i" class="cursor">_</span>
    </p>
  </ng-container>
  <ng-container
    *ngFor="let text of lines | slice : optionsOffset; let i = index"
  >
    <p class="option">
      {{ text }}
      <span *ngIf="line === i + optionsOffset" class="cursor">_</span>
    </p>
  </ng-container>
  <p class="line4"><span *ngIf="line > lines.length" class="cursor">_</span></p>
</div>
