<mat-card class="intro">
  <mat-card-content>
    <p>
      I offer workshops in different areas. Feel free to contact me for more
      information. Here are my favorite workshops. If you can not find a
      suitable workshop, let us talk about it and make it possible
    </p>
  </mat-card-content>
</mat-card>

<mat-accordion class="headers-align" *ngIf="workshops">
  <blog-workshop-details
    *ngFor="let workshop of workshopnames; let i = index; let l = last"
    [workshop]="workshops[workshop]"
    [index]="i"
    [last]="l"
    (opened)="setStep($event)"
    [expanded]="step === i"
    (navigate)="navigate($event)"
  ></blog-workshop-details>
</mat-accordion>
