@import "../node_modules/@angular/material/prebuilt-themes/purple-green.css";

@import "../node_modules/prismjs/themes/prism-tomorrow.css";

body {
  background-color: #303030;
  color: #fff;
}
strong {
  font-weight: 500;
}
