$color-white-ish: #f4f8fd;
$color-gray-ish: #a6b8d2;
$color-black-ish: #171923;

@mixin shadow($size) {
  @if ($size == s) {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  } @else if($size == m) {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  } @else if($size == l) {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  }
}

body,
html {
  padding: 0;
  margin: 0;
  font-family: Helvetica, Arial, Sans-Serif;
  height: 100%;
  font-weight: 200;
  // background: rgb(113, 229, 223);
}

.grid-container {
  display: grid;
  grid-template-areas:
    "header header header header header header"
    "main main main main main main"
    "footer footer footer footer footer footer";
  grid-gap: 10px;
  background-color: rgba(113, 229, 223, 0.2);
  padding: 10px;

  > div {
    background-color: rgba(113, 229, 223, 0.4);
    padding: 20px 0;
    font-size: 30px;

    &.header {
      background-color: #333;
      grid-area: header;
      @include shadow(m);
    }
    &.content {
      grid-area: main;
      @include shadow(m);
    }
    &.footer {
      grid-area: footer;
      @include shadow(m);
    }
  }
}
