<div class="grid-container">
  <h1 class="mat-h1">Blog</h1>
  <mat-grid-list cols="2" rowHeight="350px">
    <mat-grid-tile *ngFor="let post of posts" [colspan]="2" [rowspan]="1">
      <mat-card class="dashboard-card" (click)="showMore(post.name)">
        <mat-card-header>
          <mat-card-title>
            {{ post.title }}
            <small style="font-size: 8px; margin-left: 20px">
              {{ post.timestamp | date }}</small
            >
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div><markdown [data]="post.preview + '...'"></markdown></div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
